---
layout: default
---

<h2>Books</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'book' %}
      <li style='flex-basis: {{post.width | times: 0.5}}px' class='post-list-item book'>
        <a href="{{ post.url | prepend: site.url }}">    
          <img src="{{site.url}}/assets{{post.cover}}" alt="">
        </a>
      </li>
      {% endif %}
    {% endfor %}
</ul>
<h2>Articles</h2>
<ul class="post-list articles">
      {% for post in site.posts %}

      {% if post.categories contains 'article' %}
      <li class='post-list-item post-list-article'>
        <a href="{{ post.url | prepend: site.url }}">
          <h2 class='post-list-article-title'>{{post.title}}</h2> 
          <span class='post-list-article-author'>{{post.author}}</span> 
          <span class='post-list-article-publisher'>{{post.publisher}}</span> 
        </a>
      </li>
      {% endif %}
    {% endfor %}
      
</ul>

<h2>Shows</h2>

<ul class='post-list shows'>
      {% for post in site.posts %}

   {% if post.categories contains 'exhibition' %}
      <li class='post-list-item post-list-exhibition'>
        <a href="{{ post.url | prepend: site.url }}">
          <h2 class='post-list-article-title'>{{post.title}}</h2> 
          <span class='post-list-article-publisher'>{{post.publisher}}</span> 
        </a>
      </li>
{%endif%}
    {% endfor %}

</ul>