.post-header {
    padding: 4rem;
    display: flex;
    padding-bottom: 0;
    font-size: 1.8rem;
    a {
        text-decoration: none;
    }
}
.post-cover-container {
    flex-basis: 25%;
    flex-grow: 0;
    position: relative;
    margin-right: 4%;
    margin-bottom: 4%;
}

.post-cover {
    width: 100%;
    display: block;
    position: relative;
    z-index: 100;
    box-shadow: 0 4px 16px -5px rgba(black, .6);
}

.post-title {
    max-width: 40rem;
    color: $black;
    display: block;
    margin-bottom: 2rem;
}

blockquote {
    color: gray;
    padding-left: 1rem;
}

.post-author {
    font-weight: bold;
}

.post-meta {
    list-style: none;
    li {
        margin-bottom: .2rem;
    }
}

.post-content {
    padding: 2rem 4rem;
    font-size: 1.4rem;
    max-width: 50rem;
    line-height: 1.45;
    p {
        margin-bottom: 1rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 2px solid black;
    }
}